/* components/GuaranteeSection.module.css */

.guaranteeSection {
  background-color: #0B243B; /* 背景颜色 */
  padding: 5px;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  width: 100%; /* 充满整个视窗宽度 */
  margin: 0; /* 移除外边距 */
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; /* 使容器充满屏幕宽度 */
  margin: 0; /* 移除原有的外边距 */
  padding: 0 20px; /* 可以添加内边距以控制内容与屏幕边缘的距离 */
}

.smallMarginTop5 {
  margin-top: 5px;
}

.media {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* 允许项目在需要时换行到新行 */
  text-align: center;
}

.mediaLeft {
  margin-right: 20px;
  flex: 0 0 auto; /* 防止图标扩展以占用额外的空间 */
}

.size70 {
  width: 70px;
  height: 70px;
}

.white {
  fill: #ffffff; /* 白色图标颜色 */
}

.mediumMarginRight20 {
  margin-right: 20px;
}

.mediaBody {
  flex: 1;
  text-align: left;
  max-width: 100%; /* 使文本充满容器的宽度 */
}

.text {
  color: #ffffff; /* 白色字体颜色 */
  margin-top: 10px;
  font-size: 40px;
  margin-bottom: 5px;
}

.textSecondary {
  color: #ffffff; /* 次要文本颜色 */
  font-size: 25px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
}
