/* MobileNavToggle.module.css */
.mobile-nav-toggle {
  position: relative;
}

.toggle-button {
  background: #FFFFFF;
  border: none;
  cursor: pointer;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}



.nav-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100vw; 
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.nav-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.nav-dropdown li {
  padding: 5px;
}

.nav-dropdown a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #FFFFFF;
}


.book-online-button {
  display: inline-block;
  background-color: #ffcc00;
  color: #000000;
  padding: 15px 250px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  border:none;
  font-size: 18px;
}

