/* SecondaryBar.module.css */
.secondary-bar {
  background-color: #0B243B; 
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.nav-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar-right {
  margin-left: auto;
}

.nav-link:link,
.nav-link:visited {
  color: #ffffff; /* white font */
  font-size: 18px;
  text-decoration: none; /* Remove default underline */
  transition: transform 0.2s, text-decoration 0.2s, color 0.2s; /* Include color transition */
}

.nav-bar li:hover {
  transform: translateY(3px);
  text-decoration: underline; /* Display underline on hover */
}

.nav-spacer {
  margin: 0 10px; /* Adjust the margin value as needed for spacing */
}

/* Media query for hiding content on small screens */
@media (max-width: 60em) { /* Change max-width to an appropriate value */
  .secondary-bar {
    display: none;
  }
}
